:root {
    --bg: #7c6bb4;
    --bgH: #9484c9;
}


html {
    background-color: #514188;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageDiv {
    height: 339px;
    display: flex;
    align-items: center;
}

#belowCanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    padding: 5px;
}


#charSelector {
    width: 44px;
    height: 44px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #7c6bb4;
    float: left;
    transition: background-color 150ms;
    position: relative;
}
#selectedIcon {
    width: 32px;
    height: 32px;
    margin-top: 6px;
    margin-left: 6px;
    image-rendering: pixelated; /* Chromium */
    image-rendering: crisp-edges; /* Firefox */
}
#charSelector:hover {
    cursor: pointer;
    background-color: var(--bgH);
}
#charSelector:active {
    filter: brightness(.9);
}

#charDropdown {
    display: none;
    position: absolute;
    background-color: var(--bg);
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    font-size: 16px;
    margin-top: 7px;
    border-radius: 5px;
}
.charEntry {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
}

.iconImage {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    image-rendering: pixelated; /* Chromium */
    image-rendering: crisp-edges; /* Firefox */
}

.charEntry:hover {
    background-color: var(--bgH);
}

#charSelector:focus #charDropdown {
    display: block;
}


input {
    width: 210px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #7c6bb4;
    color: white;
    float: left;
    transition: background-color 150ms;
    margin-top: 5px;
}

#bRecolor {
    width: 20px;
    height: 25px;
    border-radius: 0px 20px 20px 0px;
    padding: 5px 8px 5px 5px;
    background-color: var(--bg);
    float: left;
    transition: background-color 150ms;
    margin-top: 5px;
}
#goIcon {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    fill: lightgray;
}

input:hover, #bRecolor:hover, input:focus {
    background-color: #9484c9;
}
#bRecolor:hover {
    cursor: pointer;
}
#bRecolor:active {
    filter: brightness(.9);
}


#row2 {
    font-size: 14px;
    height: 16px;
}


a:link {
    color: lightsalmon;
}

a:visited {
    color: lightgrey;
}